<div class="w3-container w3-padding-20">
  <h1 class="w3-border-bottom w3-center w3-border-light-grey w3-padding-16"><b style="color:orange;">CONTACT US</b></h1>

  <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
    <div class="w3-half w3-margin-bottom">
      <img src="assets/img/forwarding.jpg" alt="swatic sdn bhd" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h2><p class="w3-center" style="color:orange"><b>Swatic Sdn Bhd</b></p></h2>
        <h2><p class="w3-center"><b>Mr. Ravee</b></p></h2>
        <p class="w3-center">General Manager</p>
        <p class="w3-center">166B 2nd Floor, Persiaran Pegaga, 41100, Klang, Selangor</p>
        <p class="w3-center"><a href="mailto:ravee@swatic.biz">ravee@swatic.biz</a></p>
        <p class="w3-center">H/P : 016 311 2424</p>
        <p class="w3-center">Tel : 03-33232118</p>
        <p class="w3-center">Fax : 03-33230081</p>
      </div>
    </div>
    <div class="w3-half w3-margin-bottom">
      <img src="assets/img/logistics.jpg" alt="swatic sdn bhd" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h2><p class="w3-center" style="color:orange"><b>Syarikat Universal</b></p></h2>
        <h2><p class="w3-center"><b>Ms. Kayal</b></p></h2>
        <p class="w3-center">Manager</p>
        <p class="w3-center">166B 2nd Floor, Persiaran Pegaga, 41100, Klang, Selangor</p>
        <p class="w3-center"><a href="mailto:kayal@swatic.biz">kayal@swatic.biz</a></p>
        <p class="w3-center">H/P : 016 2112570</p>
        <p class="w3-center">Tel : 03-33232118</p>
        <p class="w3-center">Fax : 03-33230081</p>
      </div>
    </div>
  </div>

  <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
    <div class="w3-third w3-margin-bottom">
      <img src="assets/img/2.jpeg" alt="swatic sdn bhd" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h2><p class="w3-center" style="color:orange"><b>Swatic Integrated Movers Sdn Bhd</b></p></h2>
        <h2><p class="w3-center"><b>Mr. Bala</b></p></h2>
        <p class="w3-center">Manager</p>
        <p class="w3-center">Lot 142246, Jalan Udang Gantung,</p><p class="w3-center">Telok Gong 42000 Pelabuhan Klang, Selangor</p>
        <p class="w3-center"><a href="mailto:bala@swatic.biz">bala@swatic.biz</a></p>
        <p class="w3-center">H/P : 010 2881335</p>
        <p class="w3-center">Tel : 03-31341027</p>
        <p class="w3-center">Fax : 03-33230081</p>
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <img src="assets/img/warehouse.jpg" alt="swatic sdn bhd" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h2><p class="w3-center" style="color:orange"><b>Swatic Warehouse Sdn Bhd</b></p></h2>
        <h2><p class="w3-center"><b>Mr. Maran</b></p></h2>
        <p class="w3-center">Manager</p>
        <p class="w3-center">Lot 1092 Jalan Shahpadu Highway,</p><p class="w3-center"> Rantau Panjang 41200 Klang, Selangor</p>
        <p class="w3-center"><a href="mailto:maran@swatic.biz">maran@swatic.biz</a></p>
        <p class="w3-center">H/P : 016 2091987</p>
        <p class="w3-center">Tel : 03-32901566</p>
        <p class="w3-center">Fax : 03-32902566</p>
      </div>
    </div>
    <div class="w3-third w3-margin-bottom">
      <img src="assets/img/trading.jpg" alt="swatic sdn bhd" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h2><p class="w3-center" style="color:orange"><b>Swatic Resources</b></p></h2>
        <h2><p class="w3-center"><b>Mr Rakwinder Singh</b></p></h2>
        <p class="w3-center">Manager</p>
        <p class="w3-center">166B 2nd Floor, Persiaran Pegaga,</p><p class="w3-center"> 41100, Klang, Selangor</p>
        <p class="w3-center"><a href="mailto:allan@swatic.biz">allan@swatic.biz</a></p>
        <p class="w3-center">H/P : </p>
        <p class="w3-center">Tel : 03-33232118</p>
        <p class="w3-center">Fax : 03-33230081</p>
      </div>
    </div>
  </div>

  <hr class="w3-opacity">
  <form action="mailto:inquiry@swatic.biz?subject=Inquiry to Swatic Team" method="post" enctype="text/plain">
    <div class="w3-section">
      <label>Name</label>
      <input class="w3-input w3-border" type="text" name="Name" required>
    </div>
    <div class="w3-section">
      <label>Email</label>
      <input class="w3-input w3-border" type="text" name="Email" required>
    </div>
    <div class="w3-section">
      <label>Message</label>
      <input class="w3-input w3-border" type="text" name="Message" required>
    </div>
    <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Send Mail</button>
  </form>
</div>