<div class="w3-container w3-padding-20" id="aboutus">
  <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center"><b style="color:orange;">OUR VISION</b></h1>
  <h3><p style="text-align:justify">To be a logistics service provider company supporting the activities of national and international trade as well as having its own classy reputation.
    To be the single-source supply chain partner of choice, providing services that allow us to continuously create value for our customers.
  </p></h3>

  <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center"><b style="color:orange;text-align:justify" >OUR MISSION</b></h1>
  <h3><p style="text-align:justify">To provide innovative logistics solutions for our customer's needs through wide supply chain.
    To maintain a fast, accurate, and the quality of services.
    To build a long-term partnership with global players by focusing on quality, cost savings and speed toward world class solution.
  </p></h3>

  <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center"><b style="color:orange;">OUR COMMITMENT</b></h1>
  <h3><p style="text-align:justify">We advise on local and international freight, logistics and supply chain matters, warehouse and distributions.

    We are a young, energetic and enterprising logistics practice committed to providing the highest possible levels of service.
    We believe in establishing and maintaining close working relationships with each of our clients and in taking time to understand their particular businesses and objectives. This approach frequently enables us to assist our clients in developing effective strategies for maximizing opportunities. We strive to become the adviser of first choice to each of our clients.
  </p></h3>

  <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center"><b style="color:orange;">OUR CORE TEAM</b></h1>
</div>

<div class="w3-row-padding">
  <div class="w3-col l12 w3-center">
    <img class="w3-grayscale" src="assets/img/ravi.jpeg" alt="ravi" style="width:auto;height:auto">
    <h2 class="w3-opacity">Mr. Ravee</h2>
    <h3><p class="w3-opacity">General Manager</p></h3>
    <h2><p style="color:orange"><b>Swatic Sdn Bhd</b></p></h2>
  </div>
</div>

<br>
<br>

<div class="w3-row-padding">
  <div class="w3-col l3 m6 w3-margin-bottom">
    <img class="w3-grayscale" src="assets/img/kayal.jpeg" alt="kayal" style="width:90%">
    <h2 class="w3-center w3-opacity">Ms. Kayal</h2>
    <h3><p class="w3-opacity w3-center">Manager</p></h3>
    <h2><p class="w3-center" style="color:orange"><b>Syarikat Universal</b></p></h2>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <img class="w3-grayscale" src="assets/img/bala.jpeg" alt="bala" style="width:90%">
    <h2 class="w3-center w3-opacity">Mr. Bala</h2>
    <h3><p class="w3-opacity w3-center">Manager</p></h3>
    <h2><p class="w3-center" style="color:orange"><b>Swatic Integrated Movers</b></p></h2>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <img class="w3-grayscale" src="assets/img/maran.jpeg" alt="maran" style="width:90%">
    <h2 class="w3-center w3-opacity">Mr. Maran</h2>
    <h3><p class="w3-opacity w3-center">Manager</p></h3>
    <h2><p class="w3-center" style="color:orange"><b>Swatic Warehouse</b></p></h2>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <img class="w3-grayscale" src="assets/img/rakwinder.jpeg" alt="rakwinder" style="width:90%">
    <h2 class="w3-center w3-opacity">Mr. Rakwinder Singh</h2>
    <h3><p class="w3-opacity w3-center">Manager</p></h3>
    <h2><p class="w3-center" style="color:orange"><b>Swatic Resources</b></p></h2>
  </div>    
</div>

<h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center"><b style="color:orange;">MARKETING TEAM</b></h1>

<div class="w3-row-padding w3-center">
  <div class="w3-col l6 m6 w3-margin-bottom">
    <img class="w3-grayscale" src="assets/img/maran.jpeg" alt="maran" style="width:50%">
    <h2 class="w3-center w3-opacity">Mr. Maran</h2>
    <h3><p class="w3-opacity w3-center">Manager</p></h3>
    <h3><p class="w3-opacity w3-center">Business Development</p></h3>
  </div>
  <div class="w3-col l6 m6 w3-margin-bottom">
    <img class="w3-grayscale" src="assets/img/ganesh.jpeg" alt="ganesh" style="width:50%">
    <h2 class="w3-center w3-opacity">Mr. Ganesh</h2>
    <h3><p class="w3-opacity w3-center">Manager</p></h3>
    <h3><p class="w3-opacity w3-center">Business Development</p></h3>
  </div>
</div>