<div class="w3-container w3-padding-20">
  <h1 class="w3-border-bottom w3-center w3-border-light-grey w3-padding-16"><b style="color:orange;">SUBSIDIARIES</b></h1>

  <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
    <div class="columns">
      <img src="assets/img/forwarding.jpg" alt="swatic sdn bhd" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h3><p class="w3-center" style="color:orange"><b>Swatic Sdn Bhd</b></p></h3>
        <h4><p>&#9679; Provide end to end logistic solution</p></h4>
        <h4><p>&#9679; Create continous improvement logistic</p></h4>
        <h4><p>&#9679; Handle logistic wth simplest and efficient method</p></h4>
      </div>
    </div>
    <div class="columns">
      <img src="assets/img/logistics.jpg" alt="swatic sdn bhd" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h3><p class="w3-center" style="color:orange"><b>Syarikat Universal</b></p></h3>
        <h4><p>&#9679; Custom clearance agent</p></h4>
        <h4><p>&#9679; Consulting on custom matter</p></h4>
        <h4><p>&#9679; Consulting on other government agency</p></h4>
        <h4><p>&#9679; CPC signatory</p></h4>
        <h4><p>&#9679; DG cargo handler</p></h4>
      </div>
    </div>
    <div class="columns">
      <img src="assets/img/2.jpeg" alt="swatic sdn bhd" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h3><p class="w3-center" style="color:orange"><b>Swatic Integrated Movers Sdn Bhd</b></p></h3>
        <h4><p>&#9679; Provide end to end logistic solution</p></h4>
        <h4><p>&#9679; Create continous improvement logistic</p></h4>
        <h4><p>&#9679; Handle logistic wth simplest and efficient method</p></h4>
      </div>
    </div>
    <div class="columns">
      <img src="assets/img/warehouse.jpg" alt="swatic sdn bhd" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h3><p class="w3-center" style="color:orange"><b>Swatic Warehouse Sdn Bhd</b></p></h3>
        <h4><p>&#9679; Storage & distribution</p></h4>
        <h4><p>&#9679; Packing,repacking and lashing</p></h4>
        <h4><p>&#9679; Cross-docking</p></h4>
        <h4><p>&#9679; Invent new ideas in warehouse business</p></h4>
      </div>
    </div>
    <div class="columns">
      <img src="assets/img/trading.jpg" alt="swatic sdn bhd" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <h3><p class="w3-center" style="color:orange"><b>Swatic Resources</b></p></h3>
        <h4><p>&#9679; Trading</p></h4>
        <h4><p>&#9679; Intermediary</p></h4>
        <h4><p>&#9679; Trade consultant</p></h4>
        <h4><p>&#9679; Create niche market</p></h4>
        <h4><p>&#9679; Explore alternative product</p></h4>
        <h4><p>&#9679; Invent new ideas in trading concepts</p></h4>
      </div>
    </div>
  </div>
</div>