<h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center"><b style="color:orange;">CERTIFICATES</b></h1>

<div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
  <div class="columns">
    <img src="assets/img/kursus.JPG" alt="kursus ejen kastam" style="width:100%" class="w3-hover-opacity">
    <h2><p class="w3-center" style="color:orange"><b>Kursus Ejen Kastam</b></p></h2><br>
  </div>
  <div class="columns">
    <img src="assets/img/CPC.JPG" alt="cpc" style="width:100%" class="w3-hover-opacity">
    <h2><p class="w3-center" style="color:orange"><b>Container Packing Certificate</b></p></h2><br>
  </div>
  <div class="columns">
    <img src="assets/img/forwadingagentlicense.JPG" alt="forwardingagentlicense" style="width:100%" class="w3-hover-opacity">
    <h2><p class="w3-center" style="color:orange"><b>Forwarding Agent License</b></p></h2><br>
  </div>
  <div class="columns">
    <img src="assets/img/lesenpengendali.jpeg" alt="lesenpengendali" style="width:100%" class="w3-hover-opacity">
    <h2><p class="w3-center" style="color:orange"><b>SPAD - Lesen Pengendali</b></p></h2><br>
  </div>
  <div class="columns">
    <img src="assets/img/CIMAH.JPG" alt="cimah" style="width:100%" class="w3-hover-opacity">
    <h2><p class="w3-center" style="color:orange"><b>CIMAH - WAREHOUSE</b></p></h2><br>
  </div>
</div>