<div class="w3-container w3-padding-20">
	<h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center"><b style="color:orange;">ASSOCIATES</b></h1>
	<div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
		<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
			<span class="w3-right w3-opacity"></span>
			<h1 class="w3-center"><b>Company Secretary 1</b></h1><br>
			<hr class="w3-clear">
			<h2><p class="w3-center"><b>Mega-Wan Secretarial Services Sdn. Bhd.</b></p></h2><br>
			<h3><p class="w3-center">149-A, 149-B & 151-B, Persiaran Raja Muda Musa, 42000, Pelabuhan Klang, Selangor</p></h3><br>
			<br>
		</div>
		<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
			<span class="w3-right w3-opacity"></span>
			<h1 class="w3-center"><b>Company Secretary 2</b></h1><br>
			<hr class="w3-clear">
			<h2><p class="w3-center"><b>ALG Advisory Sdn. Bhd.</b></p></h2><br>
			<h3><p class="w3-center">No 47-A,1st Floor, Bandar Bukit Tinggi, 41200 Klang, Selangor</p></h3><br>
			<br>
		</div>
		<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
			<span class="w3-right w3-opacity"></span>
			<h1 class="w3-center"><b>Company Auditor</b></h1><br>
			<hr class="w3-clear">
			<h2><p class="w3-center"><b>Jayasangar & Co</b></p></h2><br>
			<h3><p class="w3-center">No. 30, Suite 3-5, 3rd Floor, Jalan Thambipillay, Brickfields, 50470, Kuala Lumpur, Wilayah Persekutuan</p></h3><br>
		</div>
		<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
			<span class="w3-right w3-opacity"></span>
			<h1 class="w3-center"><b>Company Bank</b></h1><br>
			<hr class="w3-clear">
			<div class="w3-col l12 w3-center">
				<img src="assets/img/maybank2.png" style="width:30%" class="w3-margin-bottom">
			</div>
		</div>
		<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
			<span class="w3-right w3-opacity"></span>
			<h1 class="w3-center"><b>Company Lawyer</b></h1><br>
			<hr class="w3-clear">
			<h2><p class="w3-center"><b>Asta & Co.</b></p></h2><br>
			<h3><p class="w3-center">NO 19A, Tingkat Satu, Lorong Bayu Tinggi 4C, Taman Bayu Tinggi, 41200 Klang, Selangor D.E.</p></h3><br>
		</div>
	</div>
</div>